<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sample.app"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sample.common.SampleApplication_"
        android:label="Sample app" >
        <activity
            android:name=".StartActivity_"
            android:label="Sample app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
	    android:value="556345345" /> <!-- completely bogus -->
    </application>

</manifest>
